<a href="#">Add Scenario</a>

<div id="create_scenario">
  <% form_tag :controller => :scenarios, :action => :create do %>
    <fieldset>
      <p>
        <label for="feature_name">Feature Name:</label><br/>
        <%= text_field_tag :feature_name %>
      </p>
      <p>
        <label for="scenario_name">Scenario Name:</label><br/>
        <%= text_field_tag :scenario_name %>
      </p>
      <p>
        <label for="scenario_body">Body:</label><br/>
        <%= text_area_tag :scenario_body %>
      </p>
      <%= submit_tag "Create Scenario" %>
    </fieldset>
  <% end %>
</div>

<div id="features">
  <h3>Features:</h3>
  <div id="feature_list">
    <% for feature in Feature.all do %>
      <h4><%= feature.name %></h4>
      <% for scenario in feature.scenarios do %>
        <h5><%= scenario.name %></h5>
        <div class="scenario_body">
          <%= scenario.body %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>