<style type="text/css">
  fieldset { padding: 0; border: 0; }
  .text { width: 95%; }
  .multiline { height: 175px; }
</style>

<script type="text/javascript">
	$(function() {
		
		
		$("#create_scenario").dialog({
		  autoOpen: false,
			bgiframe: true,
			modal: true,
			height: 500,
			width: 400,
			position: "top",
			buttons: {
			  "Create Scenario": function() {
			    $("#create_scenario_form").submit();
			    $(this).dialog("close");
			  },
			  
			  "Cancel": function() {
		      $(this).dialog("close");
			  }
			}
		});
		
		
		$(".fg-button:not(.ui-state-disabled)").hover(
      function() { 
        $(this).addClass("ui-state-hover");
        if ($(this).data('__mousedown')) {
          if($(this).is('.ui-state-active.fg-button-toggleable, .fg-buttonset-multi .ui-state-active'))
            $(this).removeClass("ui-state-active"); 
          else
            $(this).addClass("ui-state-active");
        } 
      }, 
      function() { $(this).removeClass("ui-state-hover"); })
    .mousedown(
      function() {
        $(this).data('__mousedown', true);
        $(this).parents('.fg-buttonset-single:first').find(".fg-button.ui-state-active").removeClass("ui-state-active");
        if($(this).is('.ui-state-active.fg-button-toggleable, .fg-buttonset-multi .ui-state-active'))
          $(this).removeClass("ui-state-active"); 
        else
          $(this).addClass("ui-state-active"); 
      })
    .mouseup(
      function() {
        $(this).data('__mousedown', false);
        if(!$(this).is('.fg-button-toggleable, .fg-buttonset-single .fg-button, .fg-buttonset-multi .fg-button'))
          $(this).removeClass("ui-state-active");
      })
    .mouseout(
      function() {
        if(!$(this).is('.fg-button-toggleable, .fg-buttonset-single .fg-button, .fg-buttonset-multi .fg-button'))
          $(this).removeClass("ui-state-active");
      });
      
      
      $("#add_scenario").click(function() {
    	  $("#create_scenario").dialog("open");
    	});
    	
    	$("#run_scenarios").click(function() {
    	  $("#run_all_form").submit();
    	});
    	
	});
</script>


<button id="add_scenario" class="fg-button ui-state-default ui-corner-all">Add Scenario</button>
<button id="run_scenarios" class="fg-button ui-state-default ui-corner-all">Run Scenarios</button>

<%= form_tag ({:controller => :home, :action => :index}, :id => "run_all_form") %>

<div id="create_scenario" title="Add a scenario">
  <% form_tag ({:controller => :scenarios, :action => :create}, :id => "create_scenario_form") do %>
    <fieldset>
      <p>
        <label for="feature_name">Feature Name:</label><br/>
        <%= text_field_tag :feature_name, "", :class => "text" %>
      </p>
      <p>
        <label for="scenario_name">Scenario Name:</label><br/>
        <%= text_field_tag :scenario_name, "", :class => "text" %>
      </p>
      <p>
        <label for="scenario_body">Body:</label><br/>
        <%= text_area_tag :scenario_body, "", :class => "text multiline" %>
      </p>
    </fieldset>
  <% end %>
</div>

<% if @cucumber_results %>
  <%= parse_cucumber_output @cucumber_results %>
<% else %>
<div id="features">
  <h3>Features:</h3>
  <div id="feature_list">
    <% for feature in Feature.all do %>
      <h4><%= feature.name %></h4>
      <% for scenario in feature.scenarios do %>
        <h5><%= scenario.name %></h5>
        <div class="scenario_body">
          <%= scenario.body %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
